*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
       background: url("../image/glass.jpg");
       background-size: cover;
       background-position: center;
       overflow: hidden;
}
.icons_02{
    min-width: 100vw;
    display: flex;
   min-height: 100vh;
   justify-content: center;
   align-items: center;
}
.fa{
    margin: 2em;
    cursor: pointer;
}
span{
    font-size: 2em;
    font-weight: 600;
}
.contact{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
}

