@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
body{
     background: rgb(7, 7, 7);
     opacity: 1;
}
.aroun_space{
    width:85rem;
    height: 40rem;
    background:url(./images/plant.jpg);
    opacity: 5;
    box-shadow: 0 8px 32px 0 rgb(97, 96, 96)
}
.ezer{
   margin-left: 2em;
}
.ezer h3{
    letter-spacing: 2px;
    font-size: 2em;
    color: rgb(250, 80, 103);
}
.ezer h3 span{
     font-size: 1.5em;
     color: aqua;
}
.inner_conent_01 h3{
    font-size: 1em;
    color: rgb(134, 133, 133);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.inner_conent_01{
    margin-left: 10em;
    margin-top: 5em;
}
.content p{
    font-size: 2.5em;
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 1.4em;
}
.content p::first-letter{
    color: red;
}
.content{
    margin-top: 2em;
    margin-left: 10em;
}
.button button{
    font-size: 1em;
    margin-left: 1em;
    border: none;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px 40px 5px 40px;
    text-transform: uppercase;
}
.button button:hover{
    scale: 0.9;
}

.button{
    margin-top: 4em;
    margin-left: 10em;
}
.icons a{
    font-size: 1.5em;
    border-radius: 50%;
    color: rgb(2, 2, 2);
    margin: 10px;
    padding: 10px;
    margin-top: 3em;

}
.arrow{
    color: rgb(11, 11, 11);
    margin-top:1.8em ;
    font-size: 2em;
    color: rgb(250, 89, 89);

}.fa-arrow-right{
    font-size:1em;
    color:red;
    animation: tamil 2s linear infinite;
    
}
@keyframes tamil{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.icons{
    display: flex;
    justify-content: end;
    
}
.icons a :hover{
   color : white;
   scale: 2;
}
.borderx{
    width:91rem;
    height: 40rem;
    margin: 10rem 0 0 20rem;
    border-left:50px solid white ;
    border-right:50px solid white ;
    border-radius: 10px;  
}
.inputs{
    z-index: 1;
}



